.carousel-fade .carousel-inner {
  margin: auto;
  max-width: 80%;
  height: 750px;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: 100%;
}
.fade-carousel .carousel-inner .item {
  height: 100%;
  margin: auto;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
  width: 20px;
  height: 20px;
}
.fade-carousel .carousel-indicators > li.active {
  opacity: 1;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides {
  position: relative;
  width: 80%;
}
.fade-carousel .slides img {
  display: block;
  margin: auto;
}
