@font-face {
  font-family: NotoSerifTC;
  src: url(/DigitalArchive/public/fonts/NotoSerifTC-Black.otf);
}

@font-face {
  font-family: WeiBei;
  src: url('/DigitalArchive/public/fonts/DFWeiBei-W7-WIN-BF-01.woff');
}


@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.honor-container {
  background-color: #e5e5e5;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 10px solid #e5e5e5; 
}  

.honor-background{
  width: 100%;
}

.honor-year {
  width: 100%;
  border-top: 1px solid rgb(192, 192, 194);
  line-height: 10px;
  margin: 40px 0 10px;
  font-weight: bold;
}

.honor-year span {
  font-family: serif;
  font-size: 38px;
  letter-spacing: 6px;
  color: rgba(155, 143, 128, 0.5);
  padding-left: 50px;
}

.honor-list-year {
  padding-top: 8px;
  font-size: 24px;
  color: #9b8f80;
}

.honor-list-title {
  padding-bottom: 8px;
  font-size: 20px;
  color: #000000;
  opacity: 0.75;
  cursor: pointer;
}
.honor-list-title:hover {
  color: rgb(107, 97, 72);
}

.honor-list-font {
  padding-left: 18%;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: bold;
  text-align: justify;
  line-height: 1;
}

.honor-list-year::after {
  display: inline-block;
  margin: 3px 3px 3px 10px;
  width: 26px;
  height: 26px;
  background-size: 26px 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.honor-list-school, .honor-list-national, .honor-list-global {
  display: flex;
  line-height: 32px;
}

.honor-list-school::after { background-image: url('/DigitalArchive/public/honor/img/school.jpg'); }
.honor-list-national::after { background-image: url('/DigitalArchive/public/honor/img/national.jpg'); }
.honor-list-global::after { background-image: url('/DigitalArchive/public/honor/img/global.jpg'); }

.slection-button {
  display: inline-flex;
  float: right;
  margin-top: 10px;
  padding-right: 25px;
  font-family: serif;
  font-weight: bold;
  font-size: 16px;
}

.honor-button-text {
  display: flex;
  line-height: 32px;
}
.honor-button-text:hover {
  color: #CCAD80;
}
.honor-button-text::before {
  display: inline-block;
  margin: 0px 10px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

#icon-school::before { background-image: url('/DigitalArchive/public/honor/img/school.jpg'); }
#icon-school:hover::before { background-image: url('/DigitalArchive/public/honor/img/school-hover.jpg'); }
#icon-national::before { background-image: url('/DigitalArchive/public/honor/img/national.jpg'); }
#icon-national:hover::before { background-image: url('/DigitalArchive/public/honor/img/national-hover.jpg'); }
#icon-global::before { background-image: url('/DigitalArchive/public/honor/img/global.jpg'); }
#icon-global:hover::before { background-image: url('/DigitalArchive/public/honor/img/global-hover.jpg'); }

.highlight-title {
  font-family: WeiBei, NotoSerifTC;
  letter-spacing: 10px;
  font-size: 40px;
  color: #434343;
}

.highlight-title-english {
  letter-spacing: 4px;
  font-size: 30px;
}

.highlight-title-small {
  letter-spacing: 5px;
  font-size: 25px;
}

.highlight-content {
  font-family: Noto Sans;
  letter-spacing: 5px;
  line-height: 170%;
  font-size: 18px;
  color: #707070;
}

.highlight-content-english {
  font-family: NotoSerifTC;
  letter-spacing: 3px;
}

.highlight-content-small {
  letter-spacing: 2px;
  font-size: 14px;
}

.highlight-year {
  font-family: Noto;
  letter-spacing: 20px;
  border-top: 1.5px solid rgb(172, 172, 172);
  line-height: 3px;
  margin: 40px 0 10px;
  font-weight: bold;
  font-size: 57px;
  color: #BBB5B1;
  z-index: 0; 
}

.highlight-year-small {
  letter-spacing: 5px;
  font-size: 34px;
}

/* hover wrapper */
.img-hover-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* hover effect */
.img-hover-effect {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0;
  background-color: #000000;
}
.img-hover-wrapper:hover .img-hover-effect {
  transition-property: opacity;
  transition-duration: .2s;
  opacity: 0.8;
}

/* hover effect text */
.img-hover-text {
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  letter-spacing: 5px;
  font-family: WeiBei;/* , NotoSerifTC; */
}
.img-hover-wrapper span {
  display: inline-block;
  opacity: 0;
}
.img-hover-wrapper:hover span {
  transition-property: opacity;
  transition-duration: .2s;
  transition-delay: .2s;
  color: #dddddd;
  opacity: 1;
}

.slection-button {
  cursor: pointer;
}

.detail-button {
  display: inline-block;
}

@media (max-width:640px) {
  .honor-list-font {
    padding-left: 5%;
    margin: 5px 25px;
  }
  .img-hover-text {
    font-size: 26px;
  }
}

@media (max-width:1200px) {
  .highlight-title {
    font-size: 32px;
  }

  .highlight-title-small {
    font-size: 20px;
  }

  .highlight-title-english {
    font-size: 25px;
    letter-spacing: 3px;
  }

  .highlight-content {
    font-size: 15px;
  }

  .highlight-content-english {
    letter-spacing: 3px;
  }

  .highlight-content-small {
    font-size: 9px;
    letter-spacing: 2px;
  }

  .highlight-year {
    font-size: 43px;
  }

  .highlight-year-small {
    font-size: 28px;
  }

  .img-hover-text {
    font-size: 28px;
  }
}

