@font-face {
  font-family: NotoSerifCJKtc;
  src: url(/Digital_Archive/public/fonts/NotoSerifCJKtc-Black.otf);
}

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.honor-container {
  background-color: #e5e5e5;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 10px solid #e5e5e5; 
}  

.honor-background{
  width: 100%;
}

.honor-year {
  width: 100%;
  border-top: 1px solid rgb(192, 192, 194);
  line-height: 10px;
  margin: 40px 0 10px;
  font-weight: bold;
}

.honor-year span {
  font-family: serif;
  font-size: 38px;
  letter-spacing: 6px;
  color: rgba(155, 143, 128, 0.5);
  padding-left: 50px;
}

.honor-list-year {
  padding-top: 10px;
  font-size: 24px;
  color: #9b8f80;
}

.honor-list-title {
  padding-bottom: 10px;
  font-size: 20px;
  color: #000000;
  opacity: 0.75;
}

.honor-list-font {
  padding-left: 18%;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: bold;
  text-align: justify;
  line-height: 1;
}

@media (max-width:640px) {
  .honor-list-font {
    padding-left: 5%;
    margin: 5px 25px;
  }
}

.highlight-title {
  font-family: NotoSerifCJKtc;
  letter-spacing: 10px;
  font-size: 40px;
  color: #434343;
}

.highlight-content {
  font-family: Noto Sans;
  letter-spacing: 5px;
  line-height: 170%;
  font-size: 18px;
  color: #434343;
}

.highlight-year {
  font-family: NotoSerifCJKtc;
  letter-spacing: 20px;
  width: 48%;
  border-top: 2px solid rgb(172, 172, 172);
  line-height: 3px;
  margin: 40px 0 10px;
  font-weight: bold;
  font-size: 57px;
  color: #BBB5B1;
  z-index: 0; 
}

.highlight-img {
  z-index: 300;
}