.card {
  padding: 20px;
}

.content-header {
  height: 125px;
  padding-top: 30px;
  border-bottom: 2px rgb(171, 171, 171) solid;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  font-family: SimSun, STSong;
}

.content {
  padding-top: 20px;
  padding-bottom: 50px;
}

.detail-button {
  cursor: pointer;
}

.detail-button:hover {
  text-decoration: none;
}

.modal-dialog {
  width: 80%;
}

.modal-close {
  position: fixed;
  z-index: 1;
  top: 3px;
  right: 8px;
}

.modal-body {
  font-size: 18px;
}

#header-chinese {
  font-size: 26px;
}

#header-english {
  line-height: 30px;
  font-size: 36px;
  font-weight: bold;
}

@media (max-width:640px) {
  .content-header {
    height: 100px;
  }

  #header-chinese {
    font-size: 18px;
  }

  #header-english {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
  }
}

