@font-face {
  font-family: NotoSerifCJKtc;
  src: url(/DigitalArchive/public/fonts/NotoSerifCJKtc-Black.otf);
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {
  scroll-behavior: smooth;
}

.card {
  padding: 20px;
}

.content-header {
  height: 100px;
  padding-top: 30px;
  border-bottom: 2px rgb(171, 171, 171) solid;
  text-align: center;
  font-size: 35px;
  letter-spacing: 7px;
  font-family: NotoSerifCJKtc;
}

.content-chinese {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 18px;
  letter-spacing: 5px;
}

.content-english {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 21px;
  font-family: serif;
}

.detail-button {
  cursor: pointer;
}

.detail-button:hover {
  text-decoration: none;
}

#header-chinese {
  font-size: 26px;
}

#header-english {
  line-height: 30px;
  font-size: 36px;
  font-weight: bold;
}

@media (max-width:640px) {
  .content-header {
    height: 100px;
  }

  #header-chinese {
    font-size: 18px;
  }

  .content {
    font-size: 16px;
  }

  #header-english {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
  }
}

