@font-face {
  font-family: NotoSerifCJKtc;
  src: url(/DigitalArchive/public/fonts/NotoSerifCJKtc-Black.otf);
}

.menu-bar {
  position: relative;
  margin-top: 20px;
}

.menu {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-left: 1.5px rgb(171, 171, 171) solid;
  cursor: pointer;
}

.menu-right {
  border-right: 1.5px rgb(171, 171, 171) solid;
}

.menu div {
  text-align: center;
  /*font-family: SimSun, STSong;*/
}

.menu-chinese {
  font-size: 26px;
  font-family: NotoSerifCJKtc;
}

.menu-english {
  line-height: 30px;
  font-size: 30px;
  letter-spacing: 4px;
  font-family: NotoSerifCJKtc;
}

.in-page-href {
  color: rgb(82, 83, 85);
}

.in-page-href:hover {
  color: rgb(157, 147, 132);
  text-decoration: none;
}

.href-position {
  position: relative;
  top: -40px;
  height: 10px;
  width: 10px;
  color: transparent;
}

@media (max-width:640px) {
  .menu {
    height: 65px;
  }

  #menu-chinese {
    font-size: 18px;
  }

  #menu-english {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
  }
}
