@font-face {
  font-family: NotoSerifTC-SemiBold;
  src: url(/Digital_Archive/public/fonts/NotoSerifTC-SemiBold.otf);
}

@font-face {
  font-family: NotoSerifCJKtc;
  src: url(/Digital_Archive/public/fonts/NotoSerifCJKtc-Black.otf);
}

@font-face {
  font-family: WeiBei;
  src: url('/Digital_Archive/public/fonts/DFWeiBei-W7-WIN-BF-01.eot'); /* IE9 Compat Modes */
  src: url('/Digital_Archive/public/fonts/DFWeiBei-W7-WIN-BF-01.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/Digital_Archive/public/fonts/DFWeiBei-W7-WIN-BF-01.woff') format('woff'), /* Modern Browsers */
       url('/Digital_Archive/public/fonts/DFWeiBei-W7-WIN-BF-01.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/Digital_Archive/public/fonts/DFWeiBei-W7-WIN-BF-01.svg#DFWeiBeiB5-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  height: 100%;
}

.homepage-black-section {
  background-color: #000000;
  color: #FFFFFF;
  font-family: NotoSerifTC-SemiBold;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 36px;
  letter-spacing: 3px;
  height: 25vw;
  width: 100vw;

}

.highlight-img {
  z-index: 300;
  cursor: pointer;
}

.homepage-gray-section-1 {
  background-color: #EDEDEF;
  width: 96vw;
  height: 156vw;
  margin: 0% 2% 0% 2%;
  position: relative;
}

.highlight-title {
  font-family: WeiBei, NotoSerifCJKtc;
  letter-spacing: 10px;
  font-size: 32px;
  color: #434343;
}

.highlight-year {
  font-family: Noto;
  letter-spacing: 20px;
  border-top: 1.5px solid rgb(172, 172, 172);
  line-height: 3px;
  margin: 40px 0 10px;
  font-weight: bold;
  font-size: 57px;
  color: #BBB5B1;
  z-index: 0;
}

.highlight-content {
  font-family: Noto Sans;
  letter-spacing: 5px;
  line-height: 170%;
  font-size: 16px;
  color: #707070;
}

.homepage-gray-section-2 {
  background-color: #EDEDEF;
  color: #000000;
  width: 96vw;
  height: 6vw;
  font-family: NotoSerifCJKtc;
  text-align: center;
  margin: 0% 2% 0% 2%;
  position: relative;
  font-size: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 70px;
  letter-spacing: 8px;
  padding: 0%;
}

.homepage-gray-section-3 {
  background-color: #EDEDEF;
  width: 96vw;
  height: 32vw;
  margin: 0% 2% 0% 2%;
  position: relative;
}

.homepage-white-section {
  background-color: #FFFFFF;
  color: #000000;
  font-family: NotoSerifTC-SemiBold;
  text-align: center;
  width: 100vw;
  font-size: 15px;
  height: 29vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 36px;
  letter-spacing: 3px;
}

.homepage-fullwidth-line {
  width: 100%;
  border-top: 1px solid rgb(192, 192, 194);
  line-height: 0px;
}

.homepage-halfwidth-line {
  width: 45%;
  border-top: 1.5px solid rgb(192, 192, 194);
  line-height: 0px;
}

@media (max-width:1200px) {
  .highlight-year {
    font-size: 51px;
  }
  .highlight-title {
    font-size: 28px;
  }
}

@media (max-width:1000px) {
  .homepage-black-section {
    font-size: 10px;
  }
  .homepage-gray-section-2 {
    font-size: 30px;
  }
  .highlight-year {
    font-size: 41px;
  }
  .highlight-title {
    font-size: 22px;
  }
  .highlight-content {
    font-size: 12px;
  }
}

