.modal-dialog {
  width: 80%;
}

.modal-close {
  position: fixed;
  z-index: 1;
  top: 3px;
  right: 8px;
}

.modal-body {
  font-size: 18px;
}

.modal-movie {
  width: 70%;
  height: 40vw;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 25px;
  display: block;
}
