@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
.modal-title {
    font-family: 'Noto Sans';
    letter-spacing: 2px;
}

h4.modal-subtitle {
  margin: 0px;
  line-height: 50px;
}

.modal-dialog {
  margin: 0 auto;
  width: 80%;
}

.modal-close {
  position: fixed;
  z-index: 1;
  top: 3px;
  right: 8px;
}

.modal-body {
  font-size: 18px;
  padding: 20px 30px;
}

.modal-movie {
  width: 70%;
  height: 40vw;
  margin: 25px auto;
  display: block;
}

.modal-slides {
  width: 70%;
  height: 40vw;
  margin: 25px auto;
  display: block;
}

.modal-images-w {
  width: 70%;
  margin: 25px auto;
  display: block;
  image-orientation: from-image;
}

.modal-images-h {
  height: 40vw;
  margin: 25px auto;
  display: block;
  image-orientation: from-image;
}

.modal-text-title {
  margin: 0px;
  padding: 0px 50px;
  line-height: 60px;
  font-size: 22px;
  font-family: 'Noto Sans';
  letter-spacing: 2px;
}

.modal-text {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 50px;
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: serif;
  text-align: justify;
}

.modal-cite {
  padding: 0px 50px;
  line-height: 1.8;
  font-size: 40px;
  letter-spacing: 1px;
  font-family: serif;
  text-align: justify;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;
}

.modal-caption {
  padding: 0px 50px;
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: serif;
  text-align: center;
  font-style: italic;
}

@media (max-width:640px) {
  .modal-dialog {
    width: 100%;
  }
  .modal-body {
    font-size: 18px;
    padding: 10px 10px;
  }
  .modal-text {
    padding: 0px 15px;
  }
  .modal-movie {
    width: 90%;
    height: 60vw;
  }
  .modal-slides {
    width: 90%;
    height: 60vw;
  }
  .modal-images {
    width: 90%;
    height: 60vw;
  }
  .modal-cite {
    font-size: 30px;
  }
}
