@font-face {
  font-family: NotoSerifTC;
  src: url(/DigitalArchive/public/fonts/NotoSerifTC-Black.otf);
}

@font-face {
  font-family: WeiBei;
  src: url('/DigitalArchive/public/fonts/DFWeiBei-W7-WIN-BF-01.woff');
}

.container-talks {
    padding: 0px 55px 50px 55px;
}

.panel {
    border: 0;
}

.panel-title-custom {
    margin: 10px;
    margin-top: 40px;
    border-bottom-width: 1px;
    border-bottom: solid;
    border-bottom-color: #B7B7B7;
    letter-spacing: 2px;
    color: #515356;
    font-family: WeiBei, NotoSerifTC;
    font-size: 30px;
}

.panel-title-custom:hover {
    background-image: linear-gradient(#FFFFFF 0%, #D3CCC2 100%);
    cursor: pointer;
}

.panel-title-text-custom, .panel-title-text-custom:hover, .panel-title-text-custom:focus {
    color: inherit;
    text-decoration: none;
    line-height: 60px;
}

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
.panel-body-text-custom {
    font-family: 'Noto Sans';
    letter-spacing: 2px;
}

.panel-body-text-custom:hover {
    background-color: #EDEDEF;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.panel-body {
    padding: 15px 35px;
}

.minor-title {
    font-family: NotoSerifTC;
    letter-spacing: 3px;
    color: #515356;
}

.icon {
    float: right;
    padding-top: 13px;
    padding-right: 10px;
}

hr.divider { 
    margin: 0px;
    border-width: 1px;
    border-color: #C4C4C4;
} 

h4.panel-body-text-title-custom {
    margin: 0px;
    line-height: 50px;
}

.content-title {
    padding: 0px 5px;
}

.content-text {
    padding: 0px 5px;
}

